*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  --color-primary: #dddad2;
  font-size: 62.5%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--color-primary);
  position: relative;
  font-family: 'Ibarra Real Nova', serif;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.defs {
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-primary);
  z-index: 2;
  font-size: 4rem;
}

.cursor {
  position: absolute;
  left: -4rem;
  top: -4rem;
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: 0.2s ease-out;
  z-index: 100;
  border: 1px solid #fff;
  pointer-events: none;
}

.menu {
  height: 70vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuListItem {
  overflow: hidden;
  font-size: 9rem;
  position: relative;
  cursor: pointer;
  color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menuListItem:not(:last-child) {
  margin-bottom: 1rem;
}

.menuListItem__text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.menuListItem__text.-hover {
  color: #000;
  bottom: 100%;
}

.menuListItem__text.-initial {
  color: #fff;
  top: 100%;
}

.menuListItem__line {
  position: absolute;
  z-index: -1;
  top: 0.5rem;
  stroke-dasharray: 3400;
  stroke-dashoffset: 3400;
}

.papers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  overflow: visible;
}


.image-1 {
  transform: translate(-15%, -25rem) rotate(-15deg);
}

.image-2 {
  transform: translate(-10%, calc(-50% - 10rem)) rotate(-15deg);
}

.image-3 {
  transform: translate(100%, calc(70% + 10rem)) rotate(15deg);
}

.image-4 {
  transform: translate(10%, 65%) rotate(5deg);
}

.image-5 {
  transform: translate(25%, 45%) rotate(15deg);
}

.imageSlider {
  width: 100%;
  height: 100%;
  position: relative;
}

.imageSlider__slide.-next {
  transform: translateX(-100%);
}

.imageSlider__slide {
  position: absolute;
  left: 0;
  top: 0;
}

/* Chrome bug in backface-visibility */

@media (max-width: 1400px) {
  .menu {
    transform: scale(0.81);
  }
}

@media (min-aspect-ratio: 5/2) {
  .menu {
    transform: scale(0.7);
  }
}

@media (min-aspect-ratio: 6/2) {
  .menu {
    transform: scale(0.58);
  }
}

@media (max-width: 768px) {
  .menu {
    transform: scale(0.55);
  }
}